#ps-login-container {
    width: 100%;
    height: 100%;
    display: flex;
    .ps-login-bg {
        flex: 1;
        background: url('../../assets/images/bannerdata.png') no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
    .ps-login-content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .login-form {
            display: flex;
            flex-direction: column;
            width: 300px;
            .form-item {
                margin-bottom: 10px;
            }
        }
        .control-container {
            display: flex;
            width: 300px;
            span {
                margin-left: auto;
                cursor: pointer;
                &:hover {
                    color: #467ce0;
                }
            }
        }
        .ps-sign-has-account {
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 300px;
            .account-tip {
                margin-right: 10px;
                margin-left: auto;
            }
            button {
                margin: 0;
            }
        }
    }
}