.merlin-home {
  width: 100%;
  .merlin-header-container {
      background: linear-gradient(to left, #2988e1, #2565cb) !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 140px;
      .left-container {
          flex: 1;
          color: #fff;
          margin-right: 30px;
          .title {
              font-size: 30px;
              margin-bottom: 10px;
          }
          .sub-title {
              font-size: 20px;
              margin-bottom: 10px;
          }
          .tip {
              font-size: 14px;
          }
      }
      .right-container {
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 800px;
          padding: 20px 30px;
          border-radius: 5px;
          max-width: 340px;
          box-shadow: 1px 1px 5px 1px #2565cb;
          .title {
              font-size: 20px;
              margin-bottom: 10px;
          }
          .content {
              margin-bottom: 30px;
          }
          .button {
              line-height: 1;
              margin-top: auto;
              color: #fff;
              background: #ffa908;
              padding: 10px 20px;
              border-radius: 4px;
              cursor: pointer;
          }
      }
  }
  .merlin-content-container {
      padding: 40px 140px;
      .title-dark {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .content-item {
          background: #fff;
          padding: 20px;
          border-radius: 4px;
          border: 1px solid #efefef;
          box-shadow: 1px 1px 4px 1px #e7e7e7;
          
      }
      .left-container {
          flex: 1;
          .content {
              display: flex;
              .desc-item {
                  .desc-title {
                      font-size: 16px;
                      margin-bottom: 10px;
                      margin-left: 15px;
                  }
                  .desc-sub-title {
                      margin-bottom: 10px;
                      margin-left: 15px;
                  }
                  img {
                      width: 100%;
                  }
              }
              .divide {
                  width: 3px;
                  background: #eee;
                  margin: 20px;
              }
          }
      }
      .right-container {
          min-width: 300px;
          .content {
              display: flex;
              flex-direction: column;
              .menu-item {
                  margin-top: 20px;
                  padding-bottom: 20px;
                  border-bottom: 1px solid #eee;
                  color: #2988e1;
                  &:last-child {
                      border: none;
                  }
              }
          }
      }
  }
}