.config-settings-form {

  display: flex;
  flex-direction: column;
  width: 100%;
  .form-item {
    margin-bottom: 20px;
    .form-item-container {
      display: flex;
      width: 100%;
      &:last-child() {
        margin-bottom: 0;
      }
      .form-title {
        width: 25%;
        margin-right: 30px;
        line-height: 32px;
      }
      .form-content {
        flex: 1;
        .ant-select {
          width: 100%;
        }
      }
    }
    .error-tip {
      margin-left: calc(25% + 30px);
      color: red;
    }
    .has-error {
        background-color: #fff;
        border-color: #f5222d;
    }
  }
    .tip {
        margin-bottom: 20px;
    }
    .control-container {
        display: flex;
        margin-top: 30px;
        width: 100%;
        .ant-btn {
            &:first-child {
                margin-right: 20px;
            }
            &:nth-child(2) {
                margin-right: auto;
            }
        }
    }

   
  .url-input-item {
    .url-input-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .delete-icon {
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  } 
}