#layout-header {
    background: linear-gradient(to left, #2988e1, #2565cb) !important;
    color: #fff;
    display: flex;
    .tab-container {
        display: flex;
        margin-right: auto;
        .tab-item {
            margin-right: 30px;
            color: #fff;
            font-size: 16px;
            box-sizing: border-box;
            z-index: 100;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                font-weight: bold;
                // border-bottom: 1px solid #fff;
            }
        }
    }
}