.url-input-item {
  .url-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .delete-icon {
      margin-left: 20px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}